body {
  background-color: #eee;
  color: #222;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#content {
  width: 800px;
  margin: 80px auto;
}

h1 {
  text-align: center;
}

#canvas {
  border: 1px solid #000;
  background-color: #fff;
}